.App {
  text-align: center;
}

.AppLogo {
  height: 75px;
  margin-right: 20px;
  cursor: pointer;
}

.AppTitle {
  cursor: pointer;
}

.AppHeader {
  background-color: blue;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 20px;
}

.AppLink {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
