.artistBox {
  height: 25px;
  list-style-type: none;
  cursor: pointer;
}

.artistBox:hover {
  color: blue;
}

.artistBox:nth-of-type(odd) {
  background-color: rgb(240, 240, 240);
}
.artistBox:nth-of-type(even) {
  background-color: rgb(245, 245, 245);
}

.form {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
