.selectedTH {
  background-color: palegreen;
}

.songRow {
  cursor: pointer;
}

.songRow:hover {
  color: blue;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainTable {
  width: 90%;
  max-width: 1000px;
  margin-right: 5%;
}
